<p><%= @guest.email_safe_salutation %></p>

<p>Parece que ya registraste tu RSVP en <%= ENV['CANONICAL_HOST'] %>.</p>

<p>Si queres modificar tu RSVP, porfavor ingresa a:</p>
<p><%= link_to guest_url(@guest), guest_url(@guest) %></p>

<p>Si tenes alguna duda, podes contactarnos a este mail.</p>

<p>&nbsp;</p>
<p><%= t :wedding_couple_names %></p>
