<section id="welcome-index-leader" class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= t :wedding_couple_names %></h1>
    <p class="leader-date">
      <%= t :wedding_date %>, <%= t :wedding_location %>
      <p id="countdown" data-wedding-time="<%= DateTime.parse(t(:wedding_date) + ' 09:30:00').to_i %>">
      Faltan <span id="days">-</span> dias <span id="hours">-</span> horas <span id="minutes">-</span> minutos, y <span id="seconds">-</span> segundos!
  </p>
      
    </p>


  </div>
</section>
