<section id="welcome-index-wedding-plan-leader" class="jumbotron text-center">
  <div class="container">
    <h1>EXTRAS</h1>
  </div>
</section>
<section id="welcome-index-wedding-plan">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>QUERES REGALARNOS?</h2>
        <p>Descripcion, CBU</p>
        <p class="text-center"><%= link_to 'Link al CBU', @cool_earth_url, class: 'btn btn-primary wedding-cta-btn' %></p>
        <h2>RSVP (Por favor, confirma tu asistencia)</h2>
        <p>Por favor, confirma tu asistencia lo antes posible para saber quién vendrá y asegurarnos de reservarte un asiento. Si resulta que no podes asistir, por favor, avísanos tan pronto como puedas.        
        </p>
      </div>
    </div>
  </div>
</section>
